body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, #ffecd2, #fcb69f);
    padding: 50px;
}

button:hover {
  background-color: #f0ad4e;
  transform: scale(1.05);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
    color: #343a40;
}

p {
    color: #495057;
}
